header {
    background-image: url("./michael-longmire-lhltMGdohc8-unsplash.jpg");
    padding: 1%;
    background-size: cover;
    background-repeat: no-repeat;
}

header section {
    padding: 3%;
}