// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-logout: "\e90b";
$icon-bank-account: "\e900";
$icon-cash: "\e901";
$icon-credit-card: "\e902";
$icon-credit-cards: "\e903";
$icon-document: "\e904";
$icon-down-arrow: "\e905";
$icon-ewallet: "\e906";
$icon-home: "\e907";
$icon-plus: "\e908";
$icon-statistics: "\e909";
$icon-wallet: "\e90a";
$icon-minus-square: "\e90c";
